.inputContainer {
    display: flex;
    min-height: 100px;
    padding: 10px 15px;
    align-items: flex-start;
    border-top: 2px solid #34344A;
    background-color:#34344A;
    box-sizing: border-box;
}

.actionIcons {
    display: flex;
    gap: 8px;
    margin-right: 15px;
}

.iconButton {
    background: none;
    border: none;
    color: #a0a0a0;
    font-size: 1.4rem;
    cursor: pointer;
    padding: 5px;
    transition: color 0.2s;  
}

.iconButton:hover {
    color: #9333ea;
}

.messageInput {
    flex-grow: 1;
    min-height: 45px;
    color: #ffffff;
    background-color: #28283c;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 15px;
    margin-right: 10px;
    outline: none; 
}

.messageInput::placeholder {
    color: #777777;
}

.sendButton {
    gap: 8px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 8px;
    margin-top: 5px;
    transition: background-color 0.2s, color 0.2s;
}   