.container {
    display : flex;
    height: 100vh;
    width : 100%;
}

.container > :nth-child(1) {
    flex: 0 0 60px;
    background-color:cornflowerblue;
}

.container > :nth-child(2) {
    flex: 0 0 750px;
    background-color:lightgray;
}

.container > :nth-child(3) {
    flex: 1;
    background-color:aliceblue;
}