.mainCintainer{
    display: flex;
    flex-direction: column;
    height: 1;
}

.Columncontainer {
    display : flex;
    height: 100vh;
    width : 100%;
}

.Columncontainer > :nth-child(1) {
    flex: 0 0 60px;
    background-color:cornflowerblue;
}

.Columncontainer > :nth-child(2) {
    flex: 0 0 750px;
    background-color:lightgray;
}

.Columncontainer > :nth-child(3) {
    flex: 1;
    background-color:aliceblue;
}