.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Columncontainer {
    display: flex;
    height: 100vh;
    width: 100%;
}

.Columncontainer > :nth-child(1) {
    flex: 0 0 60px;
    background-color: #34344A;
}

.Columncontainer > :nth-child(2) {
    flex: 0 0 600px;
    background-color: #1E1E2F;
}

.Columncontainer > :nth-child(3) {
    flex: 1;
    background-color: #28283C;
}
