.chatWindowContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messageList {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
