.header{
    display: flex;
    align-items: start;
    padding: 0px 10px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(74, 1, 190);;
    height: 50px;
}

.logoContainer{

}
