.inputContainer {
    display: flex;
    padding: 10px;
    border-top: 1px solid;
    background-color: darkgray;
}

.messageInput {
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
}

.sendButton {
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
}