.inputContainer {
    display: flex;
    min-height: 100px;
    padding: 10px 15px;
    align-items: flex-start;
    border-top: 1px solid;
    background-color: darkgray;
    box-sizing: border-box;
}

.messageInput {
    flex: 1;
    min-height: 45px;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 20px;
    padding: 8px 16px;
    margin-right: 10px;
}

.sendButton {
    min-height: 45px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
}