.messageBubble {
    max-width: 60%;
    padding: 10px;
    border-radius: 18px;
    margin-bottom: 10px;
}

.userMessage {
    background-color: rgb(74, 1, 190);;;
    align-self: flex-end;
}

.otherMessage {
    background-color: #ffffff;
    border-bottom: rgb(74, 1, 190);;
    color: rgb(74, 1, 190);
    
    align-self: flex-start;
}