.navContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.topSection {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(163, 163, 163);
    border-bottom: 1px solid rgb(74, 1, 190);
}

.groupChatsButton {
    display: flex;
    align-items: center;
    background-color: white;
    color: rgb(74, 1, 190);
    border: 1px solid rgb(74, 1, 190);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 100px;
    transition: background-color 0.2s ease;
}

.groupChatsButton:hover {
    background-color: rgb(74, 1, 190);
    color: white;
}

.searchSection {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    outline: none;
}

.searchInput {
    flex: 1;
    background-color: aliceblue;
    color:black;
    padding: 8px;
    border: 1px solid rgb(74, 1, 190);
    border-radius: 20px;
    cursor: pointer;
}

.searchButton {
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    margin-left: 10px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: color 0.2s ease;
  
}

.favoriteButton {
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    margin-left: 10px;
    cursor: pointer;
    color: red;
    transition: color 0.2s ease;

}

.chatListSection {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    color: black;
}