/* [project]/Frontend/waza/src/styles/HeaderBar.module.css [app-client] (css) */
.HeaderBar-module__gz8Ukq__header {
  background-color: #34344a;
  border-bottom: 1px solid #28283c;
  align-items: start;
  height: 50px;
  padding: 0 10px;
  display: flex;
}

/* [project]/Frontend/waza/src/styles/NavBar.module.css [app-client] (css) */
.NavBar-module__Ph4x6W__navContainer {
  border-left: #34344a;
  border-right: #34344a;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
}

.NavBar-module__Ph4x6W__topSection {
  background-color: #1e1e2f;
  justify-content: center;
  padding: 10px;
  display: flex;
}

.NavBar-module__Ph4x6W__groupChatsButton {
  color: #9999ac;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #4a01be;
  align-items: center;
  padding: 8px 100px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color .2s;
  display: flex;
}

.NavBar-module__Ph4x6W__groupChatsButton:hover {
  color: #fff;
  background-color: #4a01be;
}

.NavBar-module__Ph4x6W__searchSection {
  border-radius: 20px;
  outline: none;
  align-items: center;
  padding: 10px;
  display: flex;
}

.NavBar-module__Ph4x6W__searchInput {
  color: #000;
  cursor: pointer;
  background-color: #34344a;
  border: 1px solid #4a01be;
  border-radius: 20px;
  flex: 1;
  padding: 8px;
}

.NavBar-module__Ph4x6W__searchButton {
  cursor: pointer;
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-left: 10px;
  font-size: 1.1rem;
  transition: color .2s;
}

.NavBar-module__Ph4x6W__favoriteButton {
  cursor: pointer;
  color: red;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-left: 10px;
  font-size: 1.1rem;
  transition: color .2s;
}

.NavBar-module__Ph4x6W__chatListSection {
  color: #000;
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

/* [project]/Frontend/waza/src/styles/ChatBlock.module.css [app-client] (css) */
.ChatBlock-module__0hC0Ma__container {
  cursor: pointer;
  border-bottom: 1px solid;
  align-items: center;
  padding: 10px;
  transition: background-color .2s;
  display: flex;
  position: relative;
}

.ChatBlock-module__0hC0Ma__container:hover {
  background-color: #4a01be;
}

.ChatBlock-module__0hC0Ma__statusBar {
  border-radius: 4px;
  width: 4px;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.ChatBlock-module__0hC0Ma__online {
  background-color: #3ec97d;
}

.ChatBlock-module__0hC0Ma__offline {
  background-color: #ff0;
}

.ChatBlock-module__0hC0Ma__avatar {
  border-radius: 50%;
  margin-right: 15px;
  overflow: hidden;
}

.ChatBlock-module__0hC0Ma__info {
  flex-direction: column;
  flex: 1;
  display: flex;
}

.ChatBlock-module__0hC0Ma__name {
  color: #e0e0e0;
  font-size: 20px;
  font-weight: bold;
}

.ChatBlock-module__0hC0Ma__lastMessage {
  color: #9999ac;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  overflow: hidden;
}

.ChatBlock-module__0hC0Ma__details {
  flex-direction: column;
  align-items: flex-end;
  font-size: 12px;
  display: flex;
}

.ChatBlock-module__0hC0Ma__time {
  color: #9999ac;
  margin-bottom: 5px;
}

.ChatBlock-module__0hC0Ma__unreadCount {
  color: #9999ac;
  background-color: #007bff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
}

/* [project]/Frontend/waza/src/styles/Sidebar.module.css [app-client] (css) */


/* [project]/Frontend/waza/src/styles/Message.module.css [app-client] (css) */
.Message-module__nkL9xa__messageBubble {
  border-radius: 18px;
  width: 90%;
  max-width: 60%;
  height: 60px;
  margin-bottom: 10px;
  padding: 10px;
}

.Message-module__nkL9xa__userMessage {
  color: #e0e0e0;
  background-color: #7b4fde;
  border-bottom: 5px solid #4a01be;
  border-left: 4px solid #4a01be;
  align-self: flex-end;
}

.Message-module__nkL9xa__otherMessage {
  color: #e0e0e0;
  background-color: #1e1e2f;
  border-bottom: 5px solid #4a01be;
  border-right: 4px solid #4a01be;
  align-self: flex-start;
}

/* [project]/Frontend/waza/src/styles/MessageInput.module.css [app-client] (css) */
.MessageInput-module__cS0Dgq__inputContainer {
  box-sizing: border-box;
  background-color: #34344a;
  border-top: 2px solid #34344a;
  align-items: flex-start;
  min-height: 100px;
  padding: 10px 15px;
  display: flex;
}

.MessageInput-module__cS0Dgq__messageInput {
  color: #e0e0e0;
  background-color: #fff;
  border: 1px solid;
  border-radius: 20px;
  flex: 1;
  min-height: 45px;
  margin-right: 10px;
  padding: 8px 16px;
}

.MessageInput-module__cS0Dgq__sendButton {
  color: #fff;
  cursor: pointer;
  background-color: #7b4fde;
  border: none;
  border-radius: 20px;
  min-height: 45px;
  padding: 8px 16px;
}

/* [project]/Frontend/waza/src/styles/ChatWindow.module.css [app-client] (css) */
.ChatWindow-module__Q4ImAa__ChatWindowContainer {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  display: flex;
}

.ChatWindow-module__Q4ImAa__messageList {
  flex-direction: column;
  flex: 1;
  padding: 10px;
  display: flex;
  overflow-y: auto;
}

/* [project]/Frontend/waza/src/app/page.module.css [app-client] (css) */
.page-module__9vgY4W__mainCintainer {
  flex-direction: column;
  height: 1px;
  display: flex;
}

.page-module__9vgY4W__Columncontainer {
  width: 100%;
  height: 100vh;
  display: flex;
}

.page-module__9vgY4W__Columncontainer > :first-child {
  background-color: #34344a;
  flex: 0 0 60px;
}

.page-module__9vgY4W__Columncontainer > :nth-child(2) {
  background-color: #1e1e2f;
  flex: 0 0 750px;
}

.page-module__9vgY4W__Columncontainer > :nth-child(3) {
  background-color: #28283c;
  flex: 1;
}

/*# sourceMappingURL=Frontend_waza_src_c8c62770._.css.map*/